.active{
  max-width: 80px;
  background-color: Beige;
}
tr > td:first-child,
tr > td:last-child {
  color: White;
  background-color: #6699cc;
  border-width: 1px;
  border-style: solid;
  font-weight: bold;
  width: 80px;
  height: 40px;
}